.header .ListHeader a:hover {
    transition: all 0.3s ease;
    color: rebeccapurple;
    font-size: 100%;
}

.section .products img:hover {
    /* filter: grayscale(0.9); */
    /* filter: blur(1px); */
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
    transition: 0.7s ease-in-out;
}

.best_sellers .sellers:hover button {
    background-color: rgb(115, 115, 216);
    transition: 0.3s ease-in-out;
    color: white;
}

.DiscoverNewArrivals .productsNewArrivals:hover button {
    background-color: rgb(221, 97, 205);
    transition: 0.3s ease-in-out;
    color: white;
}