* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

:root {
    --primary-color: #4CAF50;
    --secondary-color: #8BC34A;
    --text-color: #333;
    --background-color: #f0f0f0;
    --border-radius: 5px;
    --Color_inter: 'Inter', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
}

.container {
    background-color: #f0f0f0;
    width: 70%;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
}


.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

/* Header */
.header .container .row{
    justify-content: space-around;
    width: calc((100% - 40x) / 3);
}

.header .iconHeader a {
    cursor: pointer;
}

.header .iconHeader{
    position: relative;
}

.ListHeader ul {
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
    align-items: center;
}

.header .ListHeader a {
    font-family: var(--Color_inter);
    width: 40px;
    height: 10px;
    font-size: 14px;
}

.header .iconHeader {
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
    align-items: center;
}
table ul li{
    writing-mode:vertical-lr;
}
.header .iconHeader .like::after{
    content: '4';
    position: absolute;
    top: 0;
    background-color: rgba(226, 6, 6, 0.555);
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius:50%;

}
.header .iconHeader .sale::after{
    content: '2' ;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    background-color: blue;
    border-radius: 50% ;

    
    
}


/* hero */

.hero {
    background-image: url('.././img/bdbb45838f6bfd567de5a4771587a3d4ce6b9a3e.jpg');
    background-size: cover;
    background-position: center;
    /* height: 100vh; */
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background-attachment: fixed;
    position: relative;




}


.hero .icon {
    text-align: center;
    background-color: #825F66;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 10%;
    width: 35%;
    position: absolute;
    color: white;
}

.hero .icon img {
    width: 50%;
    height: auto;

}

.hero .icon h2 {
    font-family: Garamond, serif;
    font-size: 24px;
    margin: 20px 0;
}

.hero .icon p {
    font-family: var(--Color_inter);
    font-size: 14px;
    margin-top: 20px;
}

.hero .icon button {
    color: rgb(0, 0, 0);
    width: 40%;
    border: 1px solid black;
    padding: 10px 20px;
    cursor: pointer;
}




/* Section itms products */
.section {
    margin-top: 8%;
}

/* .section .row {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: nowrap;
} */



.section .products {
    width: calc((100% - 45px) / 4);
    box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;



}

.section .products h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: var(--Color_inter);
    font-size: 14px;

}

.products_one {
    order: 0;
}

.products_two {
    order: 0;
}

.products_three {
    order: -10;
}

.products_four {
    order: -1;
}

.section_position {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 139, 139, 0.432);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 0.3s ease-in-out;
    opacity: 0;

}

.products:hover .section_position{
    opacity: 1;
}

/* collection */

.collection {
    padding: 80px 0;
    background-color: #FFFFFF;
}

.collection .collections {
    width: calc((100% - 5px) / 2);
}


.collection img {
    width: 100%;
    height: auto;
}

.collection .rigth {
    order: 1;

}

.collection .left {
    order: 0;
}

.collection .left h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: var(--Color_inter);
    font-size: 28px;
    line-height: 32px;

}

.collection .left p {
    margin-top: 5px;
    line-height: 30px;
    text-align: center;

}

.collection .left button {
    color: rgb(0, 0, 0);
    width: 40%;
    border: none;
    border-bottom: 1px solid black;
    padding: 10px 20px;
    margin-top: 20px;
    background: transparent;
    display: block;
    margin: 20px auto;
    cursor: pointer;


}

/* best_sellers */
.best_sellers {
    padding: 80px 0;
    background-color: #FFFFFF;
}

.best_sellers h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: var(--Color_inter);
    font-size: 14px;
    margin-bottom: 30px;
}

.best_sellers .row {

    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}

.best_sellers .writ_sellers p {
    line-height: 30px;
}

.best_sellers .writ_sellers span {
    margin-top: 12px;
    display: inline-block;
}

.best_sellers .sellers {
    width: calc((100% - 45px) / 4);
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    /* margin-top: 5px; */
}

.best_sellers .writ_sellers {
    text-align: left;
    text-transform: uppercase;
    font-family: var(--Color_inter);
    font-size: 14px;
    margin-top: 10px;
}

.best_sellers button {
    color: rgb(0, 0, 0);
    width: 100%;
    border: 1px solid black;
    padding: 10px 20px;
}

.sellers_one {
    order: 1;

}

.sellers_two {
    order: 2;
}

.sellers_three {
    order: 3;
}

.sellers_four {
    order: 4;
}

.sellers_five {
    order: 5;
}

.sellers_six {
    order: 6;
}

.sellers_seven {
    order: 7;
}

.sellers_eight {
    order: 0;
}

.sales{
 position: absolute;
 left: 0;
 top: 0;
 right: 0;
 display: flex;
 justify-content: center;   
 align-items: center;
 background-color: red;
 width: 100%;
}

/* MADE  */
.mades {
    width: calc(100% / 2);
    width: calc(100%/2);
    jaustify-content: center;
    align-items: center;
}
  .four img{
    width: 100%;
    height: 10px;
}
.mades p{
    line-height: 30px;
    margin: 5px;
    text-align: center;
}
.mades h2{
    text-align: center;
    text-transform: uppercase;
    font-family: var(--Color_inter);
    font-size: 30px;
    margin-top: 10px;
}
.mades button{
    color: rgb(0, 0, 0);
    width: fit-content;
    border: none;
    border-bottom: 1px solid black;
    padding: 10px 20px;
    display: block;
    margin: 20px auto;
    cursor: pointer;
}

/* DiscoverNewArrivals */
.DiscoverNewArrivals .container {
    background-color: #FFFFFF;

}

.DiscoverNewArrivals .headerDiscover h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: Garamond, serif;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 10px;

}

.DiscoverNewArrivals .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.productsNewArrivals p {
    line-height: 30px;
}

.productsNewArrivals span {
    margin-top: 12px;
    display: inline-block;
}

.productsNewArrivals h3 {
    text-align: left;
    text-transform: uppercase;
    font-family: var(--Color_inter);
    font-size: 14px;
    margin-top: 10px;
}

.productsNewArrivals button {
    color: rgb(0, 0, 0);
    width: 100%;
    border: 1px solid black;
    padding: 10px 20px;

}

.productsNewArrivals img {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}


/* OurBlog */

.OurBlog .container {
    background-color: #FFFFFF;
    margin-top: 5%;
}
.OurBlog .Blogs{
    width: calc(100% / 2);
    justify-content: center;
    align-items: center;
}
.OurBlog .Blogs img{
    width: 100%;
    height: auto;
}
.OurBlog .Blogs_one{
    order: 2;
}
.OurBlog .Blogs_two{
    order: 1;
}
.OurBlog .Blogs p{
    line-height: 30px;
    margin: 5px;
    text-align: center;
}
.OurBlog .Blogs h2{
    text-align: center;
    text-transform: uppercase;
    font-family: var(--Color_inter);
    font-size: 30px;
    margin-top: 10px;
}
.OurBlog .Blogs button{
    color: rgb(0, 0, 0);
    width: fit-content;
    border: none;
    border-bottom: 1px solid black;
    padding: 10px 20px;
    display: block;
    margin: 20px auto;
    cursor: pointer;
}   

/* Sign Up */

.signUp .container {
    margin-top: 5%;
}
.singUp .enterEmail{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.singUp .enterEmail h2{
    text-align: center;
    text-transform: uppercase;
    font-family: var(--Color_inter);
    font-size: 30px;
    margin-top: 10px;

}
.singUp .enterEmail p{
    line-height: 30px;
    margin: 5px;
    text-align: center;
}

.singUp .enterEmail form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;

}
.singUp .enterEmail  input{
    padding: 10px;
    border: none ;
    border-radius: var(--border-radius);
    border-bottom: 1px solid ;
    width: 300px;
    text-align: center;
}
.singUp .enterEmail  button{
    align-self: center;
    color: rgb(0, 0, 0);
    padding: 10px;
    width: fit-content;
    border: solid 1px;
    display: block;
    cursor: pointer;
    margin: 20px auto;
   align-self: center;
    
}

/* footer */

.footer{
    background-color: #3A3854 ;
    justify-content: space-around;
    padding: 40px;
}
.footer .container{
    background-color: #3A3854 ;
}
.footers{
    gap: 10px;
    width: calc((100% - 20px) /2); 

}
.footer .footers img{
    width:145px;
    height: 39px;
    color: #f0f0f0;
}
.footer .row{
    gap: 2px;
}
.left{
    display: flex;
    gap: 40px;

}
.left li{
    margin-top: 20px;
    color: #FFFFFF;
}
.left h3{
    color: #fff;
}
.footers.rigit p{
    color: #FFFFFF;
    line-height: 17px;
    text-align: center;
    
}
.footer .footers.rigit button{
    background-color: #3A3854 ;
    color: #FFFFFF;
    width: fit-content;
    border: 1px solid rgb(0, 255, 234);
    padding: 10px 20px;
    display: block;
    margin: 20px auto;
    cursor: pointer;
}
.footer-bottom {
    margin-top: 10px;
    text-align: center;      
    padding: 15px 0;         
    color: #fff;             
    font-size: 14px;       
    width: 100%;
}

.footer-bottom a {
    color: #fff;            
    text-decoration: none;   
    margin: 0 5px;           
}

.footer-bottom a:hover {
    text-decoration: underline; 
}
.footer .row:after {
    content: "";
    border-bottom: 2px solid white ;
    width: 100%;
    padding: 10px;
}
.footer .footers.left::after {
    content: '';
    border-right: 2px solid white ;
    width: 100%;
}
.copy  {
    background-color: #3A3854 ;
    justify-content: space-around;

}
.copy .container{
    background-color: #3A3854;
}








/* h1{
    color: #229114;
    text-transform: capitalize;
    text-align: center;
    margin-top: 50px;
    text-decoration-line: underline;
    text-decoration-color:#2aff0e ;
    text-decoration-thickness: 2px;
    text-underline-offset: 20px;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: bold;
    /* visibility: hidden;
    display: none; 
    opacity: 0.31;
}
p{

}
.test{
    background-color: yellow;
    width: 30%;
    height: 500px;
    overflow:auto;
} */