.header .listAll{
    display: none;
}

@media screen and (min-width: 0px) and (max-width: 360px) {
.header .ListHeader {
    display: none;
}
.header .iconHeader{
    display: none;
}
.header .listAll{
    display: block;
}

    

}

@media screen and (min-width: 361px) and (max-width: 576px) {
.header .ListHeader {
    display: none;
}
.header .iconHeader{
    display: none;
}
.header .listAll{
    display: block;
}
.section .products{
    width: 100%;

}


}

@media screen and (min-width: 577px) and (max-width: 992px) {
.header .ListHeader {
    display: none;
}
.header .iconHeader{
    display: none;
}
.header .listAll{
    display: block;
}
.section .products{
    width: calc((100% - 30px) / 2);
    justify-content: center;
    align-items: center;
    gap: 30px;
}
}



@media screen and (min-width: 993px) and (max-width: 1200px) {

}